<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>green</key>
	<dict>
		<key>high</key>
		<array>
			<integer>90</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>low</key>
		<array>
			<integer>41</integer>
			<integer>40</integer>
			<integer>40</integer>
		</array>
	</dict>
	<key>blue</key>
	<dict>
		<key>low</key>
		<array>
			<integer>100</integer>
			<integer>40</integer>
			<integer>40</integer>
		</array>
		<key>high</key>
		<array>
			<integer>140</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
	</dict>
	<key>yellow</key>
	<dict>
		<key>high</key>
		<array>
			<integer>34</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>low</key>
		<array>
			<integer>26</integer>
			<string>43</string>
			<string>46</string>
		</array>
	</dict>
	<key>red</key>
	<dict>
		<key>high</key>
		<array>
			<integer>40</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>low</key>
		<array>
			<integer>0</integer>
			<integer>40</integer>
			<integer>40</integer>
		</array>
	</dict>
	<key>black</key>
	<dict>
		<key>low</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>high</key>
		<array>
			<integer>180</integer>
			<integer>25</integer>
			<integer>46</integer>
		</array>
	</dict>
	<key>gray</key>
	<dict>
		<key>low</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<string>46</string>
		</array>
		<key>high</key>
		<array>
			<integer>180</integer>
			<integer>43</integer>
			<integer>220</integer>
		</array>
	</dict>
	<key>orange</key>
	<dict>
		<key>high</key>
		<array>
			<integer>24</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>low</key>
		<array>
			<integer>11</integer>
			<integer>43</integer>
			<integer>46</integer>
		</array>
	</dict>
	<key>purple</key>
	<dict>
		<key>low</key>
		<array>
			<integer>125</integer>
			<integer>43</integer>
			<integer>46</integer>
		</array>
		<key>high</key>
		<array>
			<integer>155</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
	</dict>
	<key>white</key>
	<dict>
		<key>low</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>221</integer>
		</array>
		<key>high</key>
		<array>
			<integer>180</integer>
			<integer>30</integer>
			<integer>255</integer>
		</array>
	</dict>
	<key>gold</key>
	<dict>
		<key>low</key>
		<array>
			<integer>125</integer>
			<integer>43</integer>
			<integer>46</integer>
		</array>
		<key>high</key>
		<array>
			<integer>25</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
	</dict>
	<key>silver</key>
	<dict>
		<key>low</key>
		<array>
			<integer>125</integer>
			<integer>43</integer>
			<integer>46</integer>
		</array>
		<key>high</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>239</integer>
		</array>
	</dict>
	<key>brown</key>
	<dict>
		<key>low</key>
		<array>
			<integer>0</integer>
			<integer>171</integer>
			<integer>128</integer>
		</array>
		<key>high</key>
		<array>
			<integer>13</integer>
			<integer>255</integer>
			<integer>137</integer>
		</array>
	</dict>
</dict>
</plist>
